.logo{
    display:inline-block;
    float:left;
    margin-right: 5%;
}

.connexion{
    float:right;
}

.footer{
    margin-right: 30%;
}

.welcome{
    margin-bottom: 30%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}