{% extends "ProjectBundle::base.html.twig" %}

{% block body %}
<h1> Bienvenue </h1>

<p class="welcome"> Bienvenue sur la plateforme de gestion des stages du lycée <strong> Saint Vincent </strong> </p>

{% endblock %}