{% extends "::base.html.twig" %}

{% block body %}
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1> {{ entreprise.nom }} </h1>
        <p> Cette société totalise (Aremplir) stages à son actif</p>

        <h4><strong> Information de l'entreprise : </strong> </h4>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <br/>
        <button type="submit" class="btn btn-success">Modifier d'une entreprise</button>

        {{ form_end(form) }}


    </div>
    <div class="col-md-3"></div>

{% endblock %}