<<<<<<< HEAD
{% extends '::base.html.twig' %}

{% block body  %}
    <div class="left">
        <div class="btn-group-vertical" role="group">
            <button type="button" class="btn btn-danger">top</button>
            <button type="button" class="btn btn-danger">Mid</button>
            <button type="button" class="btn btn-danger">bot</button>
        </div>
    </div>
    <div class="mid">
        <h2>user.Prenom user.Nom - user.classe</h2>

        <p>Classe : </p>
        <select name="classe" id="class">
            {# for class in classes #}
            {# endfor #}
        </select>
        <p>Eleve</p>
        <select name="students" id="student">
            {# for student in users #}
            {# endfor #}
        </select>
    </div>
=======
{% extends "::base.html.twig" %}

{% block body %}
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <fieldset class="cadre">
            <legend class="legend"> {{ stage.libelleStage }}  </legend>


            <h4><strong> Information du stage : </strong> </h4>

            {{ form_start(form) }}
            {{ form_widget(form) }}

            <br/>
        </fieldset>
        <button type="submit" class="btn btn-success">Modifier le stage </button>

        {{ form_end(form) }}


    </div>
    <div class="col-md-3"></div>

>>>>>>> feature/showentreprise
{% endblock %}