{% extends "::base.html.twig" %}

{% block body %}
    <div class="col-md-3"></div>
    <div class="col-md-6">

        <fieldset class="cadre">
            <legend class="legend"> {{ entreprise.nom }}  </legend>
        <p> Cette société totalise {##} } stages à son actif</p>

        <h4><strong> Information de l'entreprise : </strong> </h4>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <br/>
        </fieldset>
        <button type="submit" class="btn btn-success">Modifier l'entreprise</button>

        {{ form_end(form) }}


    </div>
    <div class="col-md-3"></div>

{% endblock %}