{% extends "::base.html.twig" %}

{% block body %}
    <h1>Ajout d'un stage</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Ajout de la visite</button>
    {{ form_end(form)}}
{% endblock %}